!ibus
!kitty
!nvim
!ranger
!zsh
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
KDE
Motrix
QtProject.conf
Trolltech.conf
VNote
appimagelauncher.cfg
autostart
caffeine
dconf
evolution
fragments
geary
gedit
gnome-appfolders-manager
gnome-boxes
gnome-control-center
gnome-layout-switcher.conf
gnome-session
goa-1.0
gthumb
gtk-3.0
gtk-4.0
htop
lazygit
manjaro-hello.json
menus
mimeapps.list
monitors.xml
monitors.xml~
nautilus
neofetch
onlyoffice
pamac
presets
pulse
qt5ct
qt6ct
systemd
totem
touchegg
user-dirs.dirs
user-dirs.locale
vlc
xdg-terminals.list
yay
yelp
yesplaymusic
ibus
Kvantum
falkon/profiles
sublime-text/Local
