!ibus
!kitty
!nvim
!ranger
!zsh
.gsd-keyboard.settings-ported
Code
GNOME-xdg-terminals.list
KDE
Kvantum
Motrix
QQ
QtProject.conf
Trolltech.conf
VNote
appimagelauncher.cfg
autostart
background
caffeine
cef_user_data/Dictionaries
clash
clash_win
dconf
evolution
falkon/profiles
fragments
geary
gedit
gnome-appfolders-manager
gnome-boxes
gnome-control-center
gnome-layout-switcher.conf
gnome-session
goa-1.0
gthumb
gtk-3.0
gtk-4.0
htop
ibus
lazygit
libreoffice/4
manjaro-hello.json
menus
microsoft-edge-dev
mimeapps.list
monitors.xml
monitors.xml~
nautilus
neofetch
obs-studio
onlyoffice
pamac
presets
pulse
qt5ct
qt6ct
sublime-text/Local
systemd
totem
touchegg
user-dirs.dirs
user-dirs.locale
vlc
xdg-terminals.list
yay
yelp
yesplaymusic
